.vscode/
**.egg-info/
**/__pycache__/
submission.csv
logs
secrets
**/*.secret
saves
.pytest_cache
**/*.json
**/*.csv
plots/
c_generated_code/
/build
**/rl_training/wandb/

# pixi environments
.pixi/*
!.pixi/config.toml
ros_ws/
acados/

wandb/
*.wandb